/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* main */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #e8e8e8;
}

.cv-template {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 35px;
  color: #444440;
  background-color: #fffbee;
  width: 90%;
}

.title {
}

button {
  background-color: transparent;
  border: 1px solid #444440;
  border-radius: 6px;
  cursor: pointer;
}

.open-form-btn {
  padding: 8px;
}

.add-btn {
  padding: 8px;
  font-size: 0.8rem;
}

.info {
  margin-left: 5%;
}

/* skills section */

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-form {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #444440;
}

.skills-list > li {
  padding: 5px;
}

.skills-form input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #444440;
}

/* education section */

.education-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border: 1px solid #444440;
  margin-bottom: 20px;
}

.education-form input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #444440;
}

.education-form select {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #444440;
}

.date-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.date-container div {
  display: flex;
  gap: 5px;
}

.education-form button {
  width: 8%;
  justify-self: flex-start;
}

/* footer */

.footer {
  margin-top: auto;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
}
